@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_LayoutWebApp";
}

<div class="my-4 p-5 bg-light rounded">
    <h1 class="display-4">Phygital</h1>
    <p>Welkom bij de Phygital Webapplicatie!</p>
</div>
