@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutPhygital";
}


@section Scripts
{
    <script src="~/dist/bootstrap_js.entry.js" defer></script>
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">Privacyverklaring</h1>
            <p>Wij hechten veel waarde aan de bescherming van jouw persoonlijke gegevens. Op deze pagina laten we je weten welke gegevens we verzamelen wanneer je onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee jouw gebruikerservaring verbeteren. Wees gerust, we zullen je gegevens nooit verkopen aan derden.</p>

            <h2>Verzamelde gegevens</h2>
            <p>Wanneer je onze website bezoekt, kunnen we bepaalde gegevens automatisch verzamelen, waaronder je IP-adres, browsertype, besturingssysteem, verwijzende website, de pagina's die je hebt bekeken en de datums en tijden waarop je onze website hebt bezocht. We kunnen ook cookies gebruiken om informatie te verzamelen over je surfgedrag.</p>

            <h2>Gebruik van gegevens</h2>
            <p>We gebruiken de verzamelde gegevens om onze website te analyseren en te verbeteren, om de gebruikerservaring aan te passen en om onze marketinginspanningen te ondersteunen. We zullen je gegevens niet delen met derden, tenzij we hiertoe wettelijk verplicht zijn.</p>

            <h2>Cookies</h2>
            <p>Onze website maakt gebruik van cookies om je voorkeuren te onthouden en om algemene informatie te verzamelen over het gebruik van onze website. Je kunt het gebruik van cookies uitschakelen in je browserinstellingen, maar hierdoor kunnen sommige functies van onze website mogelijk niet goed werken.</p>

            <h2>Updates van deze privacyverklaring</h2>
            <p>We behouden ons het recht voor om deze privacyverklaring op elk moment bij te werken. Eventuele wijzigingen worden van kracht zodra ze op deze pagina zijn geplaatst.</p>

            <h2>Contact</h2>
            <p>Als je vragen hebt over deze privacyverklaring, neem dan contact met ons op via marwane.benali@student.kdg.be.</p>
        </div>
    </div>
</div>