@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten - Bevestiging";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bedankt voor het aanvragen van een wachtwoordherstel. Controleer uw e-mail voor verdere instructies.
</p>
