@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmatie";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>
<p>
    Het wachtwoord is gereset. Ga naar <a asp-page="./Login">Klik hier om in te loggen</a>.
</p>
