@model UI.MVC.Models.Dto.ClosedQuestionDto

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}

<h2>Analysis for: '@Model.Query'</h2>
<div>
    <span id="flowStepIdSpan" data-flowstep-id="@Model.FlowStepId"></span>
    <canvas id="myChart"></canvas>
    <p>totale hoeveelheid replieken:</p>
    <p id="totalResponse"></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
 <p>Om een csv bestand te downloaden van de data van deze flow:</p>
        <a class="m-lg-1 fw-bold rounded-2 nav-button bg-warning text-white justify-content-md-end btn" href="@Url.Action("ExportClosedQuestionDataToCsv", "Statistics", new { flowStepId = Model.FlowStepId })">Download CSV</a>

@section Scripts{
    <script defer src="/dist/closedquestionanalysis.entry.js"></script>
}